

body{
    overflow: hidden;
}
#container{
    width: 100%;
    height: 100%;
    background-color: #fdfffb;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    position: relative;
}

#navigation-links a{
    text-decoration: none;
    color: #f6fffb;
}

.authenticated-user{
    display: none;
}

#project-header{

}

#project-details{
    padding: 25px;
}

#sprint-form-container{
    width: 50vw;
    z-index: 6;
    top: 25%;
    left: 25%;
    position: fixed;
    background-color: #fdfffb;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.background-blocker{
    width: 1000vh;
    height: 1000vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.22);
    z-index: 5;
}



.alert-red{
    position: relative;
    width: 90%;
    z-index: 4;
    opacity: 90%;
    left:5%;
}
#project-header{
    display: flex;
    flex-direction: column;
    background-color: #f6fffb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 95%;
    align-self: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}


.user-name, .user-role{
    color: rgba(255, 255, 255, 0.62);
}

.sprint-details-container{
    width: 90%;
    margin-top: 50px;
    border-radius: 5px;
    border-left: solid 5px #f554f5;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

@media screen and (min-width: 780px) {

    #main-page{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
    }


    #navbar{
        background-color: #2a2a2a;
        height: 100%;
        width: 15%;
        position: relative;
        box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;

    }

    #user-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20%;
        background-color: #2a2a2a;
        position: relative;
        top:2%;

    }

    #add-sprint{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 25px;
        left: 25px;
    }


    #user-details h1{
        font-size: 1.25vw;
    }

    #user-details p{
        font-size: 1vw;
    }

    #user-details h2{
        font-size: 1vw;
    }

    #navigation-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 10%;
    }


    .avatar{
        width: 60%;
        border-radius: 100%;
        position: relative;
        z-index: 2;
    }
    #bottom-navbar-project-add-sprint-button{
        display: none;
    }

}


@media screen and (min-width: 0px) and (max-width: 780px) {
    #container{

    }

    #main-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 97vw;
        height: 100vh;
    }

    #navbar{

        height: 10%;
        width: 100%;
        bottom: 0;
        position: fixed;
        background-color: #2a2a2a;
        z-index: 10;
    }

    #container{
        width: 90vw;
    }

    #user-details{
        display: none;
    }

    #navigation-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #project-add-sprint-button{
        display: none;
    }
    #user-details h1{
        font-size: 2vw;
    }

    #sprint-form-container{
        width: 100vw;
        z-index: 6;
        background-color: #fdfffb;
        border-radius: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
        position: fixed;
        top:0;
        left:0;
    }

    .avatar{
        display: none;
    }


}