<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Register</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body style="width: 50%; margin: auto;">

<h1>Register account</h1>
<p class="required">Mandatory fields are marked with </p>
<div class="errorMessageParent alert alert-danger alert-dismissible fade show" role="alert" style="display: none">
    <p class="errorMessage"></p>
</div>
<form id="registerForm" method="post" th:action="@{register}" th:object="${registerForm}">

    <div class="row mb-3">
        <div class="col">
            <label class="required form-label" for="firstname">First name(s)</label>
            <input class="form-control canDisable" id="firstname" maxlength="50" name="firstname"
                   required
                   th:pattern="${alphaSpacesRegex}"
                   title="Only letters A-Z upper or lowercase and , . ' or - allowed, names must be seperated by a space" type="text">
        </div>
        <div class="col">
            <label class="form-label" for="middleName">Middle name(s)</label>
            <input class="form-control canDisable" id="middleName" maxlength="50" name="middlename"
                   th:pattern="${alphaSpacesRegexCanBeEmpty}"
                   title="Only letters A-Z upper or lowercase and , . ' or - allowed, names must be seperated by a space"
                   type="text">
        </div>
        <div class="col">
            <label class="required form-label" for="lastname">Last name(s)</label>
            <input class="form-control canDisable" id="lastname" maxlength="50" name="lastname"
                   required
                   th:pattern="${alphaSpacesRegex}"
                   title="Only letters A-Z upper or lowercase and , . ' or - allowed, names must be seperated by a space" type="text">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label class="required form-label" for="username">Username</label>
            <input class="form-control" id="username" maxlength="50" name="username" required
                   th:pattern="${userNameRegex}" title="Cannot contain spaces or special characters other than !#$%&'*+-/=?^_`{|}~.,"
                   type="text">
        </div>
        <div class="col">
            <label class="required form-label" for="password">Password</label>
            <input class="form-control canDisable" id="password" maxlength="50" minlength="5" name="password"
                   required
                   th:pattern="${passwordRegex}"
                   title="Must be between 5 and 50 characters long, cannot contain special characters other than !#$%&'*+-/=?^_`{|}~.,"
                   type="password">
        </div>

    </div>
    <div class="mb-3">
        <label class="required form-label" for="email">Email address</label>
        <input class="form-control canDisable" id="email" maxlength="100" name="email" required
               th:pattern="${emailRegex}"
               title="Cannot contain spaces, must match email conventions like 'name@something.something'" type="email">
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label" for="nickname">Nickname</label>
            <input class="form-control canDisable" id="nickname" maxlength="50" name="nickname"
                   th:pattern="${alphaSpacesRegexCanBeEmpty}"
                   title="Only letters A-Z upper or lowercase and , . ' or - allowed, with words seperated by a space"
                   type="text">
        </div>
        <div class="col">
            <label class="form-label" for="personalPronouns">Pronouns</label>
            <input class="form-control canDisable" id="personalPronouns" maxlength="50" name="personalPronouns"
                   th:pattern="${pronounRegex}"
                   title="Only letters A-Z upper or lowercase, pronouns must be seperated by a '/'" type="text">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="bio">Bio</label>

        <!-- The max length for fields in our database is, by default, somewhere around 250
        So going beyond 250 characters, even for a bio, runs the risk of errors -->
        <textarea class="form-control canDisable" contenteditable id="bio" maxlength="250" name="bio"
                  th:pattern="${alphaSpacesRegexCanBeEmpty}"
                  title="Only letters A-Z upper or lowercase and , . ' or - allowed, with words seperated by a space"
                  type="text"></textarea>
    </div>
    <button class="btn btn-primary " id="registerSubmitButton" type="submit">Submit</button>
    <button class="btn btn-secondary" onclick="history.back()" type="button">Back</button>


</form>

<script th:src="@{js/register.js}" type="application/javascript"></script>
</body>
</html>