<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lensfolio | Account</title>
    <!-- The link to the css file, in thymeleaf format -->
    <script type="application/javascript" th:src="@{js/jquery-3.6.0.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.bundle.js}"></script>
    <link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <script type="application/javascript" th:src="@{js/account-script.js}"></script>
    <link th:href="@{css/account.css}" rel="stylesheet" />
</head>
<body>
    <div class="headerBar">
        <div class="profileNav">
            <div class="profileDropdown">
                <img th:src="@{defaultProfile.png}" alt="Your profile photo!" class="profilePic" id="profile">
                <p class="username" th:text="${username}"></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                </svg>
            </div>
            <div>
                <div class="dropdown-content" id="dropdownContent" style="display: none">
                    <a class="logout" href="/logout">Log Out</a><br>
                    <a class="account" th:href="@{/account}">Account</a>
                </div>
            </div>

        </div>
    </div>
    <div class="accountBody">
        <div class="accountInfo">
            <form th:action="@{/edit/details}" th:object="${editDetailsForm}" method="post">
                <h1>Personal Information</h1>



                <div class="row">
                    <div class="col">
                        <label for="FirstName" class="form-label">First name</label>
                        <input type="text" class="form-control canDisable"name="firstname" id="FirstName" th:value="${firstname}" required disabled>
                    </div>
                    <div class="col">
                        <label for="MiddleName" class="form-label">Middle name</label>
                        <input type="text" class="form-control canDisable" name="middlename" id="MiddleName" th:value="${middlename}" disabled required>
                    </div>
                    <div class="col">
                        <label for="LastName" class="form-label">Last name</label>
                        <input type="text" class="form-control canDisable" name="lastname" id="LastName" th:value="${lastname}" disabled  required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="nickname" class="form-label">Nickname</label>
                    <input type="text" class="form-control canDisable" name="nickname" id="nickname" th:value="${nickname}" maxlength="100" disabled required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" th:value="${username}" maxlength="100" disabled required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control canDisable" id="email" name="email" th:value="${email}" maxlength="100" disabled required>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="bio" class="form-label">User Bio</label>
                        <textarea  class="form-control canDisable" id="bio" name="bio" th:text="${userBio}" maxlength="300" disabled required></textarea>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <label for="roleInputSelect" class="form-label">Role</label>
                        <select class="form-select " id="roleInputSelect" aria-label="Default select example" disabled>
                            <option selected th:text="${roles}"></option>
                            <option value="2">Student</option>
                            <option value="3">Admin</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="personalPronouns" class="form-label">Pronouns</label>
                        <input type="text" class="form-control canDisable" id="personalPronouns" name="personalPronouns" th:value="${pronouns}" maxlength="100" disabled>
                    </div>
                </div>
                <div class="mb-3">
                    <p class="membersince" th:text="${membersince}"></p>
                </div>
                <button type="submit" class="btn btn-primary canDisable" disabled>Submit</button>
                <button type="button" class="btn btn-secondary editUserButton" >Edit</button>

            </form>
            <form method="post" th:action="@{/edit/password}" th:object="${editPasswordForm}">

                <div class="mb-3">
                    <label for="OldPassword" class="form-label">Old password</label>
                    <input type="password" class="form-control canDisable" name="old password" id="OldPassword" th:field="*{oldPassword}" maxlength="100" required disabled>
                </div>
                <div class="mb-3">
                    <label for="NewPassword" class="form-label">New password</label>
                    <input class="form-control canDisable" type="password" name="new password" id="NewPassword" th:field="*{newPassword}" required disabled>
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">Confirm password</label>
                    <input class="form-control canDisable"  type="password" name="new password" id="ConfirmPassword" th:field="*{confirmPassword}" required disabled>
                </div>
                <button type="submit" class="btn btn-primary canDisable canDisable" disabled>Change</button>
            </form>

        </div>
    </div>
</body>
</html>