<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lensfolio | Register</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body style="width: 50%; margin: auto;">

    <h1>Register account</h1>
    <p>Mandatory fields are marked with *</p>
    <div class="errorMessageParent alert alert-danger alert-dismissible fade show" role="alert" style="display: none">
        <p class="errorMessage"></p>
    </div>
    <form method="post" th:action="@{register}" th:object="${registerForm}" id="registerForm">

        <div class="row mb-3">
            <div class="col">
                <label for="firstname" class="form-label">First name(s)*</label>
                <input type="text" class="form-control canDisable" name="firstname" id="firstname" pattern="([a-zA-Z]+\s?)+" title="Only letters A-Z upper or lowercase, names must be seperated by a space"  maxlength="50" required>
            </div>
            <div class="col">
                <label for="middlename" class="form-label">Middle name(s)</label>
                <input type="text" class="form-control canDisable" name="middlename" id="middlename" pattern="([a-zA-Z]+\s?)+" title="Only letters A-Z upper or lowercase, names must be seperated by a space"  maxlength="50">
            </div>
            <div class="col">
                <label for="lastname" class="form-label">Last name(s)*</label>
                <input type="text" class="form-control canDisable" name="lastname" id="lastname" pattern="([a-zA-Z]+\s?)+" title="Only letters A-Z upper or lowercase, names must be seperated by a space" maxlength="50" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="username" class="form-label">Username*</label>
                <input type="text" class="form-control" name="username" id="username" pattern="([a-zA-Z0-9!#$%&'*+/=?^_`{|}~]+)" title="Cannot contain spaces or special characters other than !#$%&'*+-/=?^_`{|}~" maxlength="50" required>
            </div>
            <div class="col">
                <label for="password" class="form-label">Password*</label>
                <input type="password" class="form-control canDisable" name="password" id="password"  maxlength="50" minlength="5"  pattern="([a-zA-Z0-9!#$%&'*+/=?^_`{|}~]+)" title="Must be between 5 and 50 characters long, cannot contain spaces or special characters other than !#$%&'*+-/=?^_`{|}~" required>
            </div>

        </div>
        <div class="mb3">
            <label for="email" class="form-label">Email address*</label>
            <input type="email" class="form-control canDisable" name="email" id="email" maxlength="100"
                   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                   title="Cannot contain spaces, must match email conventions like 'name@something.something'" required>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="nickname" class="form-label">Nickname</label>
                <input type="text" class="form-control canDisable" name="nickname" id="nickname" pattern="([a-zA-Z]+\s?)+" title="Only letters A-Z upper or lowercase, with words seperated by a space" maxlength="50">
            </div>
            <div class="col">
                <label for="personalPronouns" class="form-label">Pronouns</label>
                <input type="text" class="form-control canDisable" name="personalPronouns" id="personalPronouns" pattern="([a-zA-Z/]+\s?)+" title="Only letters A-Z upper or lowercase, pronouns must be seperated by a space" maxlength="50" >
            </div>
        </div>
        <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <!-- The max length for fields in our database is, by default, somewhere around 250
            So going beyond 250 characters, even for a bio, runs the risk of errors -->
            <textarea class="form-control canDisable" id="bio"  name="bio" maxlength="250" ></textarea>
        </div>
        <button type="submit" id="registerSubmitButton" class="btn btn-primary ">Submit</button>
        <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>


    </form>

    <script type="application/javascript" th:src="@{js/register.js}"></script>
</body>
</html>