<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Account</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<section class="accountBody">
    <div class="accountInfo">
        <form id="accountForm" th:action="@{/edit/details}" th:object="${editDetailsForm}" method="post">

            <!--Below are the divs that handle error messages
            If there is an attribute with either "errorMessage", "successMessage", or "infoMessage,
            they will be displayed below-->
            <div th:insert="fragments/general.html :: errorBox"> </div>
            <div th:insert="fragments/general.html :: successBox"> </div>
            <div th:insert="fragments/general.html :: infoBox"> </div>



            <h1>Personal Information</h1>
            <p class="mandatoryMessage">Mandatory fields are marked with *</p>


            <div class="row mb-3">
                <div class="col">
                    <label for="FirstName" class="form-label">First name*</label>
                    <input type="text" class="form-control canDisable" name="firstname" id="firstname" th:value="${firstName}" pattern="([a-zA-Z]+\s?)+" title="Only letters A-Z upper or lowercase, names must be seperated by a space"  maxlength="50" required disabled>
                </div>
                <div class="col">
                    <label for="MiddleName" class="form-label">Middle name</label>
                    <input type="text" class="form-control canDisable" name="middlename" id="middlename" th:value="${middleName}" pattern="([a-zA-Z]+\s?)+" title="Only letters A-Z upper or lowercase, names must be seperated by a space"  maxlength="50" disabled>
                </div>
                <div class="col">
                    <label for="LastName" class="form-label">Last name*</label>
                    <input type="text" class="form-control canDisable" name="lastname" id="lastname" th:value="${lastName}" pattern="([a-zA-Z]+\s?)+" title="Only letters A-Z upper or lowercase, names must be seperated by a space" maxlength="50" disabled  required>
                </div>
            </div>
            <div class="mb-3">
                <label for="nickname" class="form-label">Nickname</label>
                <input type="text" class="form-control canDisable" name="nickname" id="nickname" th:value="${nickname}" pattern="([a-zA-Z]+\s?)+" title="Only letters A-Z upper or lowercase, with words seperated by a space" maxlength="50" disabled >
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username*</label>
                <input type="text" class="form-control" id="username" name="username" th:value="${username}" pattern="([a-zA-Z0-9!#$%&'*+/=?^_`{|}~]+)" title="Cannot contain spaces or special characters other than !#$%&'*+-/=?^_`{|}~" maxlength="50" disabled required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address*</label>
                <input type="email" class="form-control canDisable" id="email" name="email" th:value="${email}" maxlength="100"
                       pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                       title="Cannot contain spaces, must match email conventions like 'name@something.something'" disabled required>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="bio" class="form-label">User Bio</label>
                    <!-- The max length for fields in our database is, by default, somewhere just past 250
                    So going beyond 250 characters, even for a bio, runs the risk of errors -->
                    <textarea  class="form-control canDisable" id="bio" name="bio" th:text="${userBio}" maxlength="250" disabled></textarea>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <label for="roles" class="form-label">Roles</label>
                    <input type="text" class="form-control" name="roles" id="roles" th:value="${roles}" disabled>
                </div>
                <div class="col">
                    <label for="personalPronouns" class="form-label">Pronouns</label>
                    <input type="text" class="form-control canDisable" id="personalPronouns" name="personalPronouns" th:value="${pronouns}" pattern="([a-zA-Z/]+\s?)+" title="Only letters A-Z upper or lowercase, pronouns must be seperated by a space" maxlength="50" disabled>
                </div>
            </div>
            <div class="mb-3">
                <p class="membersince" th:text="'Member since: ' + ${membersince}"></p>
            </div>
            <button type="submit" class="btn btn-primary canDisable editUserSubmit" style="display: none" disabled>Submit</button>
            <button type="button" class="btn btn-secondary editUserButton" >Edit Account</button>

        </form>
        <div class="passwordChangeDiv" style="display: none">
            <hr class="mt-3 mb-3">

            <form method="post" id="passwordChangeForm" th:object="${editPasswordForm}">
                <h1>Change Password</h1>
                <div class="mb-3">
                    <label for="OldPassword" class="form-label">Old password</label>
                    <input type="password" class="form-control" name="old password" id="OldPassword"
                           th:field="*{oldPassword}" maxlength="100" required>
                </div>
                <div class="mb-3">
                    <label for="NewPassword" class="form-label">New password</label>
                    <input class="form-control " type="password" name="new password" id="NewPassword"
                           th:field="*{newPassword}"  maxlength="100" minlength="5" required >
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">Confirm password</label>
                    <input class="form-control"  type="password" name="new password" id="ConfirmPassword"
                           th:field="*{confirmPassword}"  maxlength="100" minlength="5" required >
                </div>
                <button type="submit" class="btn btn-primary canDisablePassword editPasswordSubmit">Submit</button>
            </form>
            <hr class="mt-3 mb-3">
            <div>
                <button class="btn btn-primary border uploadPhotoButton">Upload Profile Photo</button>
                <button class="btn btn-secondary border deleteProfilePhotoButton">Delete Profile Photo</button>
            </div>
        </div>


    </div>
</section>


<script type="application/javascript" th:src="@{js/account.js}"></script>
</body>
</html>