<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Evidence</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<section class="skillsPage">
    <div class="skillSideBar">
        <div class="categoryBox">
            <h3>Categories</h3>
        </div>
        <div class="skillContainer">
            <h3>Skills</h3>
            <!-- The skill holding container, pieces are added through JS -->
            <div id="skillList"></div>
        </div>
    </div>
    <div class="contentContainer">
        <h2 class="evidenceTitle">Evidence</h2>

        <div class="evidenceContainer">
            <div class="col">
                <!-- The evidence holding container, pieces are added through JS -->
                <div id="evidenceList"></div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="row evidenceDetailsHeader">
                        <p id="evidenceDetailsDate" class="col evidenceDetailsDate"></p>
                        <h2 id="evidenceDetailsTitle" class="evidenceDetailsTitle"></h2>
                    </div>
                    <div id="evidenceDetailsDescription" class="evidenceDetails"></div>
                    <hr>
                    <div id="evidenceWebLinks"></div>
                    <hr>
                    <div id="evidenceDetailsSkills" class="skillChipDisplay"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script th:src="@{js/evidenceUtilities.js}" type="application/javascript"></script>
<script th:src="@{js/evidenceBySkills.js}" type="application/javascript"></script>
</html>