<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Evidence</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<section class="evidencePage">
        <div class="col evidenceListContainer">
            <div class="row evidenceListMenu">
                <button class="btn btn-primary createEvidenceButton" data-bs-toggle="modal"
                        data-bs-target="#addEvidenceModal" type="button">
                    Create
                </button>
            </div>
            <hr>
            <h3 class="evidenceListTitle">Evidence</h3>
            <hr style="margin-bottom: 0">
            <!-- The evidence holding container, pieces are added through JS -->
            <div id="evidenceList"></div>
        </div>
        <div class="col evidenceDetailsContainer">
            <div class="row evidenceDetailsHeader">
                <p id="evidenceDetailsDate" class="col evidenceDetailsDate"></p>
                <div class="col evidenceDeleteButton">
                    <button type="button" class=" noStyleButton hasTeacherOrAbove" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete Evidence">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </div>
                <h2 id="evidenceDetailsTitle" class="evidenceDetailsTitle"></h2>
            </div>
            <div id="evidenceDetailsDescription" class="evidenceDetails"></div>
            <hr>
            <div id="evidenceWebLinks"></div>
            <hr>
        </div>
    <!-- Add evidence Modal -->
    <div class="modal fade" id="addEvidenceModal" tabindex="-1" role="dialog" aria-labelledby="addEvidenceTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEvidenceTitle">Add Evidence</h5>
                </div>
                <form id="evidenceCreationForm">
                    <div class="modal-body">
                        <div class="form-group evidenceFormName">
                            <label for="evidenceName" class="col-form-label required">Name:</label>
                            <small class="form-text text-muted">Name must include letters. </small>
                            <input type="text" class="form-control text-input"
                                   id="evidenceName"
                                   placeholder="Name"
                                   maxlength="50"
                                   minlength="2"
                                   required>
                            <small class="form-text form-text-counted text-muted countCharName">0 characters remaining</small>
                        </div>
                        <div class="form-group evidenceFormDate">
                            <label class="form-label required" for="evidenceDate">Date: </label>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-question-circle"
                                 viewBox="0 0 16 16"
                                 data-bs-toggle="tooltip" data-bs-placement="top"
                                 data-bs-custom-class="custom-tooltip"
                                 data-bs-title="This is the date the evidence occurred. It must fall within the project dates and not be in the future">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                            </svg>
                            <input class="form-control form-control-sm milestoneInputEndDate"
                                   id="evidenceDate"
                                   name="evidenceDate"
                                   th:value="${currentDate}"
                                   th:min="${projectStartDate}"
                                   th:max="${evidenceMaxDate}"
                                   required
                                   type="date">
                        </div>
                        <div class="form-group evidenceFormDescription">
                            <label for="evidenceDescription" class="col-form-label required">Description:</label>
                            <small class="form-text text-muted">Description must include letters. </small>
                            <textarea class="form-control text-input"
                                      id="evidenceDescription"
                                      rows="4"
                                      placeholder="Description"
                                      maxlength="500"
                                      minlength="2"
                                      required></textarea>
                            <small class="form-text text-muted form-text-counted countCharDescription">0 characters remaining</small>
                        </div>
                        <div class="form-group evidenceFormSkills ui-widget">
                            <label for="skillsInput" class="col-form-label">Skills:</label>
                            <input type="text" class="form-control text-input"
                                   id="skillsInput"
                                   placeholder="Skills">
                            <small class="form-text text-muted">Type in your skills and separate them with a space. If they are multiple words, separate them with an underscore eg: Intra-team_Communication</small>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 id="webLinkTitle" style="display: none">Added Links:</h6>
                                <div id="addedWebLinks"></div>
                            </div>
                            <div class="col">
                                <div class="webLinkForm" style="display:none">
                                    <div class="form-group ">
                                        <label for="webLinkUrl" class="col-form-label">Link:</label>
                                        <input type="text" class="form-control" id="webLinkUrl" placeholder="Link Address">
                                    </div>
                                    <div class="form-group ">
                                        <input type="text" class="form-control" id="webLinkName" placeholder="Link Name">
                                    </div>
                                </div>
                                <button id="addWebLinkButton"
                                        type="button"
                                        class="btn btn-secondary addWebLinkButton"
                                        style="display:none">
                                    Add Web Link
                                </button>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-question-circle"
                                     viewBox="0 0 16 16"
                                     data-bs-toggle="tooltip" data-bs-placement="top"
                                     data-bs-custom-class="custom-tooltip"
                                     data-bs-title="Use web links to support your evidence. A maximum of ten web links can be added">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                </svg>
                                <h5 id="webLinkFull" style="display:none">10 web links have been added</h5>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="evidenceCancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="evidenceSaveButton"
                                type="submit"
                                class="btn btn-primary" disabled>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
<script th:src="@{js/evidence.js}" type="application/javascript"></script>
</html>