<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Evidence</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<section class="evidencePage">
        <div class="col evidenceListContainer">
            <div class="row evidenceListMenu">
                <button class="btn btn-primary createEvidenceButton" data-bs-toggle="modal"
                        data-bs-target="#addEvidenceModal" type="button">
                    Create
                </button>
            </div>
            <hr>
            <h3 class="evidenceListTitle">Evidence</h3>
            <hr style="margin-bottom: 0">
            <!-- The evidence holding container, pieces are added through JS -->
            <div id="evidenceList"></div>
        </div>
        <div class="col evidenceDetailsContainer">
            <div class="row evidenceDetailsHeader">
                <p class="col evidenceDetailsDate">31/7/22</p>
                <div class="col evidenceDeleteButton">
                    <button type="button" class=" noStyleButton hasTeacherOrAbove" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete Evidence">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </div>
                <h2 class="evidenceDetailsTitle">Name of Evidence</h2>
            </div>
            <div class="evidenceDetails">
                Spicy jalapeno bacon ipsum dolor amet flank spare ribs pancetta do laboris.
                Sausage meatball duis sunt. Landjaeger velit ham alcatra fugiat ribeye. Fugiat enim meatloaf, kielbasa
                magna exercitation labore.
            </div>
        </div>
    <!-- Add evidence Modal -->
    <div class="modal fade" id="addEvidenceModal" tabindex="-1" role="dialog" aria-labelledby="addEvidenceTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEvidenceTitle">Add Evidence</h5>
                </div>
                <div class="modal-body">
                    <form id="evidenceCreationForm">
                        <div class="form-group ">
                            <label for="evidenceName" class="col-form-label required">Name:</label>
                            <input type="text" class="form-control" id="evidenceName" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label required" for="evidenceDate">Date:</label>
                            <input class="form-control form-control-sm milestoneInputEndDate"
                                   id="evidenceDate"
                                   name="evidenceDate"
                                   placeholder="Date"
                                   required
                                   type="date">
                        </div>
                        <div class="form-group">
                            <label for="evidenceDescription" class="col-form-label required">Description:</label>
                            <textarea class="form-control"
                                      id="evidenceDescription"
                                      rows="4"
                                      placeholder="Description"
                                      required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="evidenceSaveButton"
                            type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script th:src="@{js/evidence.js}" type="application/javascript"></script>
</html>