<!--TODO Remove this page when group settings page is complete-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lensfolio | Gitlab API Test</title>

</head>

<body>
<header th:insert="fragments/general.html"></header>
<br><br><br>
<form>
    <label>Project ID</label><br>
    <input id="apiProjectID" type="text" value="12298"><br>
    <label>Access Token</label><br>
    <input id="apiAccessToken" type="text" default=""><br>
    <label>Commit sha (for getting single commit only)</label><br>
    <input id="apiCommitSha" type="text" default="">
</form><br>
<button class="btn btn-primary" type="button" onclick="getBranches();">Get branches</button><br><br>
<button class="btn btn-primary" type="button" onclick="getCommits();">Get commits</button><br><br>
<button class="btn btn-primary" type="button" onclick="getCommit();">Get single commit</button><br><br>
<button class="btn btn-primary" type="button" onclick="getMembers();">Get project members</button>
</body>

<script type="application/javascript" th:src="@{js/gitlabAPI.js}"></script>
</html>