<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Groups</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<section>
    <div class="row">
        <div class="col groupsContainer">
            <div class="group" th:each="group : ${groups}">
                <div class="mb3">
                    <p class="members" style="display: none">${group.members}</p>
                    <h2 class="groupShortName" th:text="${group.shortName}"></h2>
                    <h3 class="groupLongName" th:text="${group.longName}"></h3>
                </div>
            </div>
        </div>
        <div class="col membersContainer" style="display: none">
            <h2 class="membersContainerTitle">Members</h2>
        </div>
    </div>
</section>
</body>
<script type="application/javascript" th:src="@{js/groups.js}"></script>
</html>