<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Groups</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<section>

    <div class="row">
        <div class="col groupsContainer">
            <div class="group" th:each="group : ${groups}">
                <div class="mb3">
                    <p class="groupId" style="display: none" th:text="${group.groupId}"></p>
                    <h2 class="groupShortName" th:text="${group.shortName}"></h2>
                    <h3 class="groupLongName" th:text="${group.longName}"></h3>
                </div>
            </div>
        </div>
        <div class="col" id="groupInformationContainer" style="display: none">
            <h2 id="groupInformationShortName"></h2>
            <h3 id="groupInformationLongName"></h3>
            <hr>
            <div class="membersContainer"></div>
            <button type="button" class="btn btn-danger" id="groupRemoveUser" style="visibility: hidden">Remove</button>

            <div class="form-popup border rounded w-25" id="confirmationForm" style="display: none">
                <h6>Remove selected users from this group?</h6>
                <table>
                    <row>
                        <button type="button" class="btn btn-success" id="confirmRemoval">Yes</button>
                        <button type="button" class="btn btn-secondary" id="cancelRemoval">No</button>
                    </row>
                </table>
            </div>
            <table id="groupTable" class="table" >
                <thead>
                <tr class="tableHeader" >
                    <th><input id="selectAllCheckboxGroups" type="checkbox"><label for="selectAllCheckboxGroups"> Select All </label></th>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody id="groupTableBody">


                </tbody>
            </table>
        </div>

    </div>
</section>
</body>
<script type="application/javascript" th:src="@{js/groups.js}"></script>
</html>