<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Groups</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<section>
    <div class="row">
        <div class="col groupsContainer">
            <div class="group" th:each="group : ${groups}">
                <div class="mb3">
                    <p class="groupId" style="display: none" th:text="${group.groupId}"></p>
                    <h2 class="groupShortName" th:text="${group.shortName}"></h2>
                    <h3 class="groupLongName" th:text="${group.longName}"></h3>
                </div>
            </div>
        </div>
        <div class="col" id="groupInformationContainer" style="display: none">
            <h2 id="groupInformationShortName"></h2>
            <h3 id="groupInformationLongName"></h3>
            <hr>
            <div class="controlButtons">
                <button class="editButton noStyleButton hasTeacherOrAbove"  data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wrench-adjustable-circle" viewBox="0 0 16 16">
                        <path d="M12.496 8a4.491 4.491 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11c.027.2.04.403.04.61Z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-1 0a7 7 0 1 0-13.202 3.249l1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.49 4.49 0 0 1-1.592-.29L4.747 14.2A7 7 0 0 0 15 8Zm-8.295.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27.596-.894Z"/>
                    </svg>
                </button>
                <button type="button" class="deleteButton noStyleButton hasTeacherOrAbove"  data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </div>
            <hr>
            <div id="groupDisplayOptions" class="hasTeacherOrAbove">
                <input id="selectAllCheckboxGroups" type="checkbox"><label for="selectAllCheckboxGroups"> Select All </label>
                <p class="numSelected">0 Selected</p>
                <button class="btn btn-danger" id="groupRemoveUser">Remove User</button>
                <div class="moveToDiv">
                    <label for="newGroupSelector">Move to..</label>
                    <select id="newGroupSelector" class="form-select moveToSelect">
                        <option th:each="group : ${groups}" th:text="${group.shortName}" th:value="${group.getGroupId()}"></option>
                    </select>
                    <button class="btn btn-primary moveToButton" id="moveUsersButton" >Move</button>
                </div>
            </div>
            <div class="form-popup border rounded w-25" id="confirmationForm" style="display: none">
                <h6>Confirm removal of selected users from this group?</h6>
                <table>
                    <tr class="buttonsRow">
                        <button type="button" class="btn btn-success" id="confirmRemoval">Yes</button>
                        <button type="button" class="btn btn-secondary" id="cancelRemoval">No</button>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="membersContainer"></div>
            <table id="groupTable" class="table">
                <thead>
                <tr class="tableHeader">
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody id="groupTableBody"></tbody>
            </table>
        </div>
    </div>
</section>
</body>
<script th:src="@{js/groups.js}" type="application/javascript"></script>
</html>