<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Lensfolio | Log In</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="application/javascript" th:src="@{js/jquery-3.6.0.js}"></script>
        <script th:src="@{bootstrap/js/bootstrap.bundle.js}"></script>
        <link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet" />
        <link th:href="@{css/bad.css}" rel="stylesheet" />
    </head>
    <body style="width: 50%; margin: auto;">
        <p th:text="${loginMessage}" class="loginMessage"></p>
        <form th:action="@{/login}" th:object="${loginForm}"  method="post">
            <h1>Login</h1>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control canDisable" name="username" id="username" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" maxlength="100" required>
            </div>

            <div class="mb-3">

            </div>

            <button type="submit" class="btn btn-primary canDisable" >Submit</button>

        </form>
        <p>Click <a th:href="@{/register}">here</a> to register a new user</p>
    </body>
</html>