<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Lensfolio | Log In</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{css/login.css}" rel="stylesheet" />
    </head>
    <body style="width: 50%; margin: auto;">
        <h1>Lensfolio</h1>

        <h2>Login</h2>
        <p th:text="${loginMessage}" class="loginMessage"></p>
        <form th:action="@{/login}" th:object="${loginForm}"  method="post">

            <div class="loginBoxes">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" maxlength="200"><br>
            </div>
            <div class="loginBoxes">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" maxlength="200"><br>
            </div>
            <input type="submit" value="Login">
        </form>

        <hr>

        <h2>Register</h2>
        <p>Click <a href="/register">here</a> to register a new user</p>
    </body>
</html>