<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--Make sure to change the below title    -->
    <title>Thymeleaf Fragments: home</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
    <link rel="stylesheet" th:href="@{css/calendar.css}" />
  </head>
  <body>
    <!--The below section <header> pulls the fragment from fragments/general-->
    <header th:insert="fragments/general.html :: header"></header>
    <section class="calendarDiv">
      <!--Below are the divs that handle error messages
            If there is an attribute with either "errorMessage", "successMessage", or "infoMessage,
            they will be displayed below-->
      <div th:insert="fragments/general.html :: errorBox"></div>
      <div th:insert="fragments/general.html :: successBox"></div>
      <div th:insert="fragments/general.html :: infoBox"></div>

      <div class="wrapper">
        <div class="projectBox">
          <!--project info display-->
          <div class="projectInfo">
            <h1 id="projectId" th:text="${projectId}" style="display: none"></h1>
            <div class="mb3">
              <h1 id="projectName" th:text="${project.name}"></h1>
            </div>
            <div class="mb-3">
              <p th:text="${project.description}"></p>
            </div>
          </div>
        </div>



        <div class="calendarBox">
          <!--monthly calendar display-->
          <p id="projectStartDate" th:text="${project.getStartDate()}" style="display: none"></p>
          <p id="projectEndDate" th:text="${project.getEndDate()}" style="display: none"></p>
          <p id="sprints" th:val="${sprints}" style="display: none"></p>
          <div class="calendar" id="calendar"></div>
          <script type="application/javascript" th:src="@{js/calendar.js}"></script>
        </div>

        <div class="sprintsBox">
          <!--sprints info display-->
          <div class="sprintsInfo">
            <div th:each=" sprint: ${sprints}" class="sprint" style="" th:attrappend="style=${'border-left: solid 0.3rem ' + sprint.getColour() + ' ;border-right: solid 0.3rem ' + sprint.getColour()}" >
              <p class="sprintColour" style="display: none" th:text="${sprint.colour}"></p>
              <p class="sprintId" style="display: none" th:text="${sprint.id}"></p>
              <p class="sprintLabel" th:text="'Sprint ' + ${sprintStat.index + 1}"></p>
              <h2 th:text="${sprint.name}"></h2>
              <div class="row">
                <div class="col">
                  <h6>Start</h6>
                  <h6 th:text="${sprint.getStartDateFormatted()}"></h6>
                </div>
                <div class="col">
                  <h6>End</h6>
                  <h6 th:text="${sprint.getEndDateFormatted()}"></h6>
                </div>
              </div>
              <div class="mb-3">
                <p th:text="${sprint.description}"></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
