<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Portfolio</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
    <script type="application/javascript" th:src="@{js/project.js}"></script>
</head>
<body>
<!--The below section <header> pulls the fragment from fragments/general-->
<header th:insert="fragments/general.html :: header"> </header>
<div class="background-blocker" style="display: none"></div>
<section>
    <div class="projectDetails">
        <div id="project-details">
            <h1 id="projectId" th:text="${projectId}" style="display: none"></h1>
            <h1 id="projectName" th:text="${projectName}"></h1>
            <h6 id="project-start-date" th:text="${projectStart}"></h6>
            <h6 id="project-end-date" th:text="${projectEnd}"></h6>
            <h2 th:text="${projectDescription}"></h2>
            <p id="projectDescription"> </p>
        </div>
        <div id="edit-project-form" style="display: none">

        </div>

        <div id="add-sprint">

            <button class="btn btn-primary project-add-sprint-button authenticated-user" id="projectAddSprint" >Add Sprint</button>
            <button class="btn btn-success project-add-sprint-button authenticated-user" id="projectEditSprint">Edit Project</button>
        </div>


    </div>
    <div class="sprintsContainer">
        <div th:each="sprint: ${sprints}" class="sprint" style="border-left: solid 0.5rem" th:attrappend="style=${' ' + sprint.colour}" >
            <p class="sprintColour" style="display: none" th:text="${sprint.colour}"></p>
            <div class="row">
                <div class="col" >
                    <h1 th:text="${sprint.name}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Start Date</h5>
                    <h4 th:text="${sprint.startDate}"></h4>
                </div>
                <div class="col">
                    <h5>End Date</h5>
                    <h4 th:text="${sprint.endDate}"></h4>
                </div>
            </div>
            <div class="mb-3">
                <p th:text="${sprint.description}"></p>
            </div>
        </div>

    </div>
</section>
</body>
</html>