<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Portfolio</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->

    <script type="application/javascript" th:src="@{js/project.js}"></script>
</head>
<body>
<!--The below section <header> pulls the fragment from fragments/general-->
<header th:insert="fragments/general.html :: header"> </header>

<section>
    <!--Below are the divs that handle error messages
            If there is an attribute with either "errorMessage", "successMessage", or "infoMessage,
            they will be displayed below-->
    <div th:insert="fragments/general.html :: errorBox"> </div>
    <div th:insert="fragments/general.html :: successBox"> </div>
    <div th:insert="fragments/general.html :: infoBox"> </div>
    <div class="projectDetails">
        <div id="project-details">
            <h1 id="projectId" th:text="${project.getId()}" style="display: none"></h1>
            <div class="mb3">
                <h1 id="projectName" th:text="${project.getName()}"></h1>
            </div>
            <div class="row">
                <div class="col-2">
                    <h6>Start</h6>
                    <h6 id="project-start-date" th:text="${project.getStartDateFormatted()}"></h6>
                </div>
                <div class="col-2">
                    <h6>End</h6>
                    <h6 id="project-end-date" th:text="${project.getEndDateFormatted()}"></h6>
                </div>
            </div>
            <div class="mb-3">
                <p th:text="${projectDescription}"></p>
            </div>

        </div>


        <div>
            <button class="btn btn-outline-primary project-add-sprint-button authenticated-user" id="projectAddSprint" >Add Sprint</button>
            <button class="btn btn-outline-success project-add-sprint-button authenticated-user" id="projectEditSprint">Edit Project</button>
        </div>


    </div>
    <div class="projectContainer">
        <div class="eventContainer">
            <h4>Events</h4>
            <div th:each="event: ${events}" class="event" >
                <p th:text="${event.name} + ':'" class="eventName" ></p>
                <div class="eventDateDiv">
                    <p th:text="${event.getStartDateFormatted()}" class="eventStart"></p>
                    <p>-</p>
                    <p th:text="${event.getEndDateFormatted()}" class="eventEnd"></p>
                </div>

            </div>
        </div>

        <div class="sprintsContainer">
            <div th:each=" sprint: ${sprints}" class="sprint" style="border-left: solid 0.25rem" th:attrappend="style=${' ' + sprint.colour}" >
                <p class="sprintColour" style="display: none" th:text="${sprint.colour}"></p>
                <p class="sprintId" style="display: none" th:text="${sprint.id}"></p>
                <p class="sprintLabel" th:text="'Sprint ' + ${sprintStat.index + 1}"></p>
                <div class="row">
                    <div class="col" >
                        <h2 th:text="${sprint.name}"></h2>
                        <div th:each="event: ${sprint.getEventList()}" class="eventInSprint">
                            <p th:text="${event.getName()} + ':'"></p>
                            <p th:text="${event.getStartDateFormatted()}" style="color:" th:attrappend="style=${' ' + event.startDateColour}"></p>
                            <p>-</p>
                            <p th:text="${event.getEndDateFormatted()}" style="color:" th:attrappend="style=${' ' + event.endDateColour}"></p>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6>Start</h6>
                        <h6 th:text="${sprint.getStartDateFormatted()}"></h6>
                    </div>
                    <div class="col">
                        <h6>End</h6>
                        <h6 th:text="${sprint.getEndDateFormatted()}"></h6>
                    </div>
                </div>
                <div class="mb-3">
                    <p th:text="${sprint.description}"></p>
                </div>
                <div class="mb3">

                    <button type="button" class="deleteSprint noStyleButton sprintButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                    <button type="button" class="editSprint noStyleButton sprintButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wrench-adjustable-circle" viewBox="0 0 16 16">
                            <path d="M12.496 8a4.491 4.491 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11c.027.2.04.403.04.61Z"/>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-1 0a7 7 0 1 0-13.202 3.249l1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.49 4.49 0 0 1-1.592-.29L4.747 14.2A7 7 0 0 0 15 8Zm-8.295.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27.596-.894Z"/>
                        </svg>
                    </button>

                </div>

            </div>

        </div>





    </div>

</section>
</body>
</html>