<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Portfolio</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->

</head>
<body>
<!--The below section <header> pulls the fragment from fragments/general-->
<header th:insert="fragments/general.html :: header"></header>
<section class="editProjectContainer">
    <form class="projectEditForm" method="post">
        <h1>Project</h1>
        <div class="errorMessageParent alert alert-danger alert-dismissible fade show" role="alert"
             style="display: none">
            <p class="errorMessage"></p>
        </div>
        <input id="projectId" name="projectId" style="display: none" th:value="${project.getId()}" type="text">
        <div class="mb-3">
            <label class="form-label" for="projectName">Project Name</label>
            <input class="form-control canDisable" id="projectName" maxlength="50" name="projectName" required
                   th:value="${project.getName()}" type="text">
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label" for="projectStartDate">Project Start</label>
                <input class="form-control canDisable" id="projectStartDate" name="projectStartDate"
                       required th:min="${project.getMinStartDateAsLocalDateTime()}" th:value="${project.getStartDate()}" type="date">
            </div>

            <div class="col">
                <label class="form-label" for="projectEndDate">Project End</label>
                <input class="form-control canDisable" id="projectEndDate" name="projectEndDate"
                       required th:min="${project.getStartDate()}" th:value="${project.getEndDate()}"
                       type="date">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="dateAlert alert alert-danger alert-dismissible fade show" role="alert"
                     style="display: none">
                    <strong>Oh no!</strong> You should probably make the start date be before the end date
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="projectDescription">Project Description</label>
            <textarea class="form-control canDisable" id="projectDescription" maxlength="200" name="projectDescription"
                      th:text="${project.getDescription()}"></textarea>
        </div>
        <button class="btn btn-primary canDisable" type="submit">Submit</button>
        <button class="btn btn-danger" onclick="history.back()" type="button">Cancel</button>

    </form>
</section>
</body>

<script th:src="@{js/projectEdit.js}" type="application/javascript"></script>
</html>