<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Register Account Page</title>
</head>
<body>
    <h1>Register New Account</h1>
    <h3 style="color :red; ">* Required Fields</h3>
    <p th:text="${test}" />
    <form method="post" action="/register" th:object=${registerForm}">
        * Username:<br> <input type="text" name="username" id="Username" required><br>
        * First Name:<br> <input type="text" name="first name" id="FirstName" required><br>
        * Last Name:<br> <input type="text" name="last name" id="LastName" required><br>
        * Email:<br> <input type="email" name="email" id="Email" required><br>
        * Password:<br> <input type="password" name="password" id="Password" required><br>
        Nickname:<br> <input type="text" name="nickname" id="Nickname"><br>
        Personal Pronouns:<br> <input type="text" name="pronouns" id="PersonalPronouns"><br>
        Bio:<br> <input type="text" name="bio" id="Bio"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>