<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Lensfolio | Register</title>
</head>
<body style="width: 50%; margin: auto;">
    <h1>Register New Account</h1>
    <h3 style="color :red; ">* Required Fields</h3>
    <p class="error" th:text="${errorMessage}"></p>
    <form method="post" th:action="@{/register}" th:object="${registerForm}">
        * Username:<br> <input type="text" name="username" id="username" required maxlength="200"><br>
        * First Name:<br> <input type="text" name="firstname" id="firstname" required maxlength="200"><br>
        Middle Name:<br> <input type="text" name="middlename" id="middlename" maxlength="200"><br>
        * Last Name:<br> <input type="text" name="lastname" id="lastname" required maxlength="200"><br>
        * Email:<br> <input type="email" name="email" id="email" required maxlength="200"><br>
        * Password:<br> <input type="password" name="password" id="password" required maxlength="200"><br>
        Nickname:<br> <input type="text" name="nickname" id="nickname" maxlength="200"><br>
        Personal Pronouns:<br> <input type="text" name="personalPronouns" id="personalPronouns" maxlength="200"><br>
        Bio:<br> <textarea rows="5" name="bio" id="bio" maxlength="200"> </textarea><br>
        <input type="submit" value="Register">
    </form>
    <a href="/login">Back to login</a>
</body>
</html>