<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Portfolio</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<!--The below section <header> pulls the fragment from fragments/general-->
<header th:insert="fragments/general.html :: header"> </header>
<section>
    <form th:action="@{/sprintSubmit}" th:object="${sprintEditForm}" method="post">
        <!--Below are the divs that handle error messages
            If there is an attribute with either "errorMessage", "successMessage", or "infoMessage,
            they will be displayed below-->
        <div th:insert="fragments/general.html :: errorBox"> </div>
        <div th:insert="fragments/general.html :: successBox"> </div>
        <div th:insert="fragments/general.html :: infoBox"> </div>
        <h1>Edit Sprint</h1>
        <input type="text" name="sprintId" style="display: none" id="sprintId" th:value="${sprint.getId()}">
        <div class="row">
            <div class="col">
                <label for="sprintName" class="form-label">Sprint Name</label>
                <input type="text" class="form-control canDisable" name="sprintName" id="sprintName" th:value="${sprint.getName()}" required >
            </div>
            <div class="col">
                <label for="sprintColour" class="form-label">Colour picker</label>
                <input type="color" class="form-control form-control-color" id="sprintColour" name="sprintColour" th:value="${sprint.getColour()}" title="Choose your sprint colour" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="sprintStartDate" class="form-label">Sprint Start</label>
                <input type="date" class="form-control canDisable" name="sprintStartDate" th:min="${previousSprintEnd}" th:max="${nextSprintStart}" id="sprintStartDate" th:value="${sprint.getStartDate()}" required>
                <small class="form-text text-muted" th:text="${textForPrevSprint}"></small>
            </div>
            <div class="col">
                <label for="sprintEndDate" class="form-label">Sprint End</label>
                <input type="date" class="form-control canDisable" name="sprintEndDate" id="sprintEndDate" th:min="${previousSprintEnd}" th:max="${nextSprintStart}" th:value="${sprint.getEndDate()}" required>
                <small class="form-text text-muted" th:text="${textForNextSprint}"></small>
            </div>
        </div>
        <div class="mb-3">
            <label for="sprintDescription" class="form-label">Sprint Description</label>
            <textarea class="form-control canDisable" name="sprintDescription" id="sprintDescription" th:text="${sprint.getDescription()}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" onclick="history.back()" class="btn btn-danger" >Cancel</button>

    </form>
</section>
</body>
</html>