<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lensfolio | Portfolio</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<!--The below section <header> pulls the fragment from fragments/general-->
<header th:insert="fragments/general.html :: header"> </header>
<section>
    <form th:action="@{/sprintSubmit}" th:object="${sprintEditForm}" method="post">
        <h1>Personal Information</h1>
        <input type="text" name="sprintId" style="display: none" id="sprintId" th:value="${sprintId}">
        <div class="row">
            <div class="col">
                <label for="sprintName" class="form-label">Sprint Name</label>
                <input type="text" class="form-control canDisable" name="sprintName" id="sprintName" th:value="${sprintName}" required >
            </div>
            <div class="col">
                <label for="sprintColour" class="form-label">Colour picker</label>
                <input type="color" class="form-control form-control-color" id="sprintColour" name="sprintColour" th:value="${sprintColour}" title="Choose your sprint colour" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="sprintStartDate" class="form-label">Project Start</label>
                <input type="date" class="form-control canDisable" name="sprintStartDate" id="sprintStartDate" th:value="${sprintStart}" required>
            </div>
            <div class="col">
                <label for="sprintEndDate" class="form-label">Project End</label>
                <input type="date" class="form-control canDisable" name="sprintEndDate" id="sprintEndDate" th:value="${sprintEnd}" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="sprintDescription" class="form-label">Project Description</label>
            <textarea class="form-control canDisable" name="sprintDescription" id="sprintDescription" th:text="${sprintDescription}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" onclick="history.back()" class="btn btn-danger" >Cancel</button>

    </form>
</section>
</body>
</html>