<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Make sure to change the below title    -->
    <title>Thymeleaf Fragments: home</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<!--The below section <header> pulls the fragment from fragments/general-->
<header th:insert="fragments/general.html :: header"> </header>
<section>
    <!--In here is where you should insert your code
    The section tags group a generic block of code of related contents-->
</section>

</body>
</html>

<!--Use the below fragments for displaying info/error/success messages, just uncomment them and add where you need.
For more information on these, check out general.html-->
<!--<div th:insert="fragments/general.html :: errorBox"> </div>-->
<!--<div th:insert="fragments/general.html :: successBox"> </div>-->
<!--<div th:insert="fragments/general.html :: infoBox"> </div>-->