<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Upload Image</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->

</head>
<body>

<header th:insert="fragments/general.html :: header"></header>

<div class="accountBody">
    <div class="accountInfo">
        <h1>Upload Image</h1>
        <p>Please make sure that your photo is 5MB or less, and has the same height and width.<br>
        Otherwise, it will be cropped and/or compressed, potentially lowering your photo's quality.</p>
        <hr>
        <div class="successBox">

        </div>
        <input id="profileImageInput" type='file' accept="image/png, image/jpeg" onChange="processImage()"/>
        <br>
        <p id="loadingText" >Processing Image...</p>
        <br>
        <!--<button type="button" onclick="resizeImage('profileImagePreview')">Crop/Compress</button>-->
        <br>
        <b>Size:</b> <span id="size"></span>
        <br>
        <img id="profileImagePreview" th:src="${profileImageUrl}" alt="Profile Photo Preview"/>
        <br>
        <button class="btn btn-primary" type="button" onclick="sendImagePostRequest()">Upload</button>
        <button class="btn btn-secondary backButton" type="button">Back</button>
    </div>
</div>


</body>

<script type="application/javascript" th:src="@{js/upload-script.js}"></script>
</html>