<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>


        <meta charset="UTF-8">
        <title>List of Users</title>
        <!--Make sure to change the below title    -->

        <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
                </th:block> /*/-->
        <link type="text/css" rel="stylesheet" th:href="@{css/user-list-style.css}"/>
        <script type="application/javascript" th:src="@{js/user-list-script.js}"></script>
    </head>
    <body>
        <header th:insert="fragments/general.html :: header"> </header>
        <h1>Users</h1>
        <div id="user-list" class="m-3">
            <table class="table table-bordered table-responsive-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Aliases</th>
                        <th>Roles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${user_list}" class="userRoleRow">
                        <td class="userId" th:text="${user.id}" style="display: none"></td>
                        <td th:text="${user.firstName} +  ' ' + ${user.middleName} + ' ' + ${user.lastName}">Name</td>
                        <td class="username" th:text="${user.username}">Username</td>
                        <td th:text="${user.nickname}">Nickname</td>
                        <td class="roleButtonsContainer">
                            <div th:each="activeRole : ${user.rolesList}" class="badge border d-inline-flex align-items-center">
                                <div class="tagDiv">
                                    <div class=" text-black roleType" th:text="${activeRole}"></div>
                                    <button class="btn-close roleDeleteButton" style="font-size: 0.75em;">x</button>
                                </div>
                            </div>
                            <div >
                                <button class="btn badge border text-light bg-primary addRolePopUpButton dropdown-toggle"
                                        aria-expanded="true">+</button>
                                <ul class="dropdown-menu collapse" data-popper-placement="bottom-start">
                                    <button class="dropdown-item roleToAddButton" th:each="role : ${possibleRoles}" th:if="${!user.rolesList.contains(role)}" th:text="${role}"></button>
                                </ul>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="edit-roles-form">

        </div>


        <footer class="panel-footer">
            <nav aria-label="Page navigation">
                Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                &nbsp; &nbsp; - &nbsp;

                <a th:if="${currentPage > 1}" th:href="@{/user-list}">First</a>
                <span th:unless="${currentPage > 1}">First</span>
                &nbsp;&nbsp;
                <a th:if="${currentPage > 1}" th:href="@{'/user-list?page=' + ${currentPage - 1}}">Previous</a>
                <span th:unless="${currentPage > 1}">Previous</span>
                &nbsp;&nbsp;
                <span th:each="i: ${footerNumberSequence}">
                    <a th:if="${i != currentPage}" th:href="@{'/user-list?page=' + ${i}}">[[${i}]]</a>
                    <span th:unless="${i != currentPage}">[[${i}]]</span>
                    &nbsp; &nbsp;
                </span>
                <a th:if="${currentPage < totalPages}" th:href="@{'/user-list?page=' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
                &nbsp;&nbsp;
                <a th:if="${currentPage < totalPages}" th:href="@{'/user-list?page=' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </nav>
        </footer>

    </body>
</html>