/* Make a black header bar with white text */
.headerBar {
    background-color: #333;
    overflow: visible;
    height: 50px;
    width: 100%;
    color: white;
    flex-direction: row;
    display: flex;

}

/* This is the blank area of the header bar.
I've styled it like this to make it usable with flexbox
 */
.headerSpan {
    background-color: inherit;
    width: 90%;
}

/* properties of the username text */
.username {
    text-align: right;
    padding-right: 50px;
}

/* properties of the dropdown 'zone' */
.dropdown {
    position: relative;
    display: inline-block;
    width: 10%
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

